.ion-page{
  background-color: #4e4950;
}


.back-button.bar-button.bar-button-md.back-button-md.bar-button-default.bar-button-default-md.show-back-button{
  color: white;
}

.item.item-block.item-md{
  background-color: #99919c;
}

.item.item-block.item-md .input-wrapper{
  background-color: #273b7a;
}

.item.item-block.item-md .input-wrapper:hover{
  background-color: #516cc8;
}

.button-clear-md:hover{
  background-color: transparent !important;
}

.button-clear-md{
  color: white;
}

.item.item-md.list-header.list-header-md{
  background-color: #99919c;
}

.label.label-md{
 color: white;
}

.list.list-md{
  background-color: #99919c;
}

.scroll-content{
 background-color: #99919c;
}
