.alert-md .alert-title{
color: black !important;
}

.save.button.button-md.button-default.button-default-md.button-round.button-round-md{
   margin-right: 50px;
   background-color: #273b7a;
}

.save.button.button-md.button-default.button-default-md.button-round.button-round-md:hover{
 background-color: #516cc8;
}

.cancel.button.button-md.button-default.button-default-md.button-round.button-round-md{

   background-color: #273b7a;
}

.cancel.button.button-md.button-default.button-default-md.button-round.button-round-md:hover{
 background-color: #516cc8;
}
